/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400px;
  font-style: normal;
  margin:0px;
  padding:0px;
}
/* header styles */
.header{
    background-color: rgba(255, 144, 14, 0.1);
    margin-bottom:100px;
}
/* navbar styles */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width:75%;
    margin:0px auto;
    margin-bottom:100px;
}
.nav-links{
    display: flex;
    gap: 50px;
}
.nav-bar .brand{
    font-size:2.9rem;
    font-weight:bold;
    color: #131313;
}
.nav-links .nav-link{
    font-size:1.2rem;
    font-weight:Medium;
    color: #424242;
    text-decoration: none;
}
.nav-links .nav-item{
    list-style:none;
}
/* banner styles */
.banner{
    width:75%;
    margin:0px auto;
    text-align: center;
}
.banner-content{
    width:60%;
    margin:0px auto;
    text-align: center;
    margin-bottom:50px;
}
.banner-title{
    font-size:4rem;
    font-weight: bold;
    color: #131313;
}
.banner-description{
    font-size:1rem;
    font-weight:regular;
    color:#727272;
    margin-bottom:30px;
}
.banner-button{
    border: none;
    border-radius:8px;
    padding:20px 25px;
    background-color:#FF900E;
    font-size:1.3rem;
    font-weight:SemiBold;
    color: #FFFFFF;
}
.banner-img{
    margin-bottom: 50px;
    width: 100%;
}
/* main-section styles */
.main{
    width:75%;
    margin:0px auto;
}
/* teams styles */
.teams{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom:100px;
}
.teams-img-container{
    /* width:49.16%; */
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap:15px;
}
.features-container{
    width:40%;
}
.features-title{
    margin-bottom: 25px;
} 
.features-title .grey,.black,.orange{
    font-size:2.9rem; 
}
.grey{
    font-weight:Medium;
    color:#727272;
}
.black{
    font-weight:bold;
    color:#131313;
}
.orange{
    font-weight:bold;
    color:#FF900E;
}
.features-description{
    font-size:1rem;
    font-weight:regular;
    color:#727272;
    margin-bottom:30px;
}
.teams-button{
     border: none;
    border-radius:8px;
    padding:20px 25px;
    background-color:#FF900E;
    font-size:1.3rem;
    font-weight:SemiBold;
    color: #FFFFFF;
}
/* responsive styles */
@media screen and (max-width:576px) {
   .nav-bar,.nav-links,.teams{
    flex-direction: column;
   } 
   .nav-bar .brand{
    font-size:2rem;
   }
   .banner-title{
    font-size:2rem;
   }
   .banner-content{
    width: 100%;
   }
   .teams-img-container{
    grid-template-columns:1fr;
   }
   .features-container{
    width:100%;
   }
}
@media screen and (min-width:576px) and (max-width:992px){
    .nav-bar .brand{
    font-size:2rem;
   }
   .banner-title{
    font-size:2rem;
   }
   .teams{
    flex-direction: column;
   }
   .features-container{
    width:60%;
   }
}

